[submodule "Foundations/RockPaperScissors"]
	path = Foundations/RockPaperScissors
	url = https://github.com/sorphil/RockPaperScissors
[submodule "Foundations/EtchASketch"]
	path = Foundations/EtchASketch
	url = https://github.com/sorphil/EtchASketch
[submodule "Foundations/Calculator"]
	path = Foundations/Calculator
	url = https://github.com/sorphil/Calculator
[submodule "Javascript Stack/Library"]
	path = Javascript Stack/Library
	url = https://github.com/sorphil/Library
